@font-face {
    font-family: "Icon";
    /*src: url("../images/flaticons/flaticon.eot");
    src: url("../images/flaticons/flaticon.eot#iefix") format("embedded-opentype"),
    url("../images/flaticons/flaticon.woff") format("woff"),*/
    src: url("../images/icons/icon.ttf") format("truetype"),
    url("../images/icons/icons.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {
    font-family: Icon;
    font-size: 20px;
    font-style: normal;
    margin-right: 10px;
    font-weight: normal;
}

.icon-download:before {
    content: "\e046";
}

.icon-view:before {
    content: "\e0fe";
}

.icon-request:before {
    content: "\e06d";
}

.icon-submit:before {
    content: "\e06b";
}

.icon-remap:before {
    content: "\e080";
}

.icon-news:before {
    content: "\e064";
}

.icon-list:before {
    content: "\e03c";
}

.icon-light:before {
    content: "\e038";
}