---
---

//
// LRG text fonts
//

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Lato/lato-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('/fonts/Lato/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Lato/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Lato/lato-v14-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Lato/lato-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('/fonts/Lato/lato-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/lato-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Lato/lato-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/lato-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Lato/lato-v14-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Open_Sans/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('/fonts/Open_Sans/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Open_Sans/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Open_Sans/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Open_Sans/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Open_Sans/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Open_Sans/open-sans-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('/fonts/Open_Sans/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Open_Sans/open-sans-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Open_Sans/open-sans-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Open_Sans/open-sans-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Open_Sans/open-sans-v15-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}



//
// EBI Images
//


/* Generic icons that can be used as decoration or emphasis */
/* https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Generic/ <- display list */
/* https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Generic/fonts/ */
@font-face {
  font-family: 'EBI-Generic';
  src:url("/fonts/EBI-Generic/EBI-Generic.eot");
  src:url("/fonts/EBI-Generic/EBI-Generic.eot?#iefix") format('embedded-opentype'),
    url("/fonts/EBI-Generic/EBI-Generic.woff") format('woff'),
    local('â˜º'),
    url("/fonts/EBI-Generic/EBI-Generic.svg#EBI-Generic") format('svg'),
    url("/fonts/EBI-Generic/EBI-Generic.ttf") format('truetype');
}

/* Generic, functional or activity-orientated icons */
/* https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Functional/ <- display list */
/* https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Functional/fonts/ */
@font-face {
  font-family: 'EBI-Functional';
  src:url('/fonts/EBI-Functional/EBI-Functional.eot');
  src:url('/fonts/EBI-Functional/EBI-Functional.eot?#iefix') format('embedded-opentype'),
    url('/fonts/EBI-Functional/EBI-Functional.woff') format('woff'),
    local('â˜º'),
    url('/fonts/EBI-Functional/EBI-Functional.svg#EBI-Functional') format('svg'),
    url('/fonts/EBI-Functional/EBI-Functional.ttf') format('truetype');
}

/* Specific file formats */
/* https://www.ebi.ac.uk/web_guidelines/fonts/EBI-FileFormats/ <- display list */
/* https://www.ebi.ac.uk/web_guidelines/fonts/EBI-FileFormats/fonts/ */
@font-face {
  font-family: 'EBI-FileFormats';
  src:url('/fonts/EBI-FileFormats/EBI-FileFormats.eot');
  src:url('/fonts/EBI-FileFormats/EBI-FileFormats.eot?#iefix') format('embedded-opentype'),
    url('/fonts/EBI-FileFormats/EBI-FileFormats.woff') format('woff'),
    local('â˜º'),
    url('/fonts/EBI-FileFormats/EBI-FileFormats.svg#EBI-Functional') format('svg'),
    url('/fonts/EBI-FileFormats/EBI-FileFormats.ttf') format('truetype');
}

/* Conceptual (biology) */
/*@font-face {
  font-family: 'EBI-Conceptual';
  src:url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Conceptual/fonts/EBI-Conceptual.eot');
  src:url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Conceptual/fonts/EBI-Conceptual.eot?#iefix') format('embedded-opentype'),
    url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Conceptual/fonts/EBI-Conceptual.woff') format('woff'),
    local('â˜º'),
    url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Conceptual/fonts/EBI-Conceptual.svg#EBI-Conceptual') format('svg'),
    url('https://www.ebi.ac.uk/web_guidelines/fonts/EBI-Conceptual/fonts/EBI-Conceptual.ttf') format('truetype');
}*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-style: normal;
  font-weight: normal;
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
}

[class^="icon-"]:after, [class*=" icon-"]:after {
  font-style: normal;
  font-weight: normal;
  margin-left: 4px;
  display: inline-block;
  text-decoration: none;
}

.smaller-icon:before,
.smaller-icon:after {
  font-size: 0.9em;
}

.tiny-icon:before,
.tiny-icon:after {
  font-size: 0.8em;
}

.close-icon-0:before {
  margin-right: 0px;
}
.close-icon-2:before {
  margin-right: 2px;
}
.close-icon-5:before {
  margin-right: 5px;
}

.close-icon-0:after {
  margin-left: 0px;
}

.rotate-icon-270:before {
  padding-bottom: 4px;
  transform: rotate(270deg);
}


/* Functional */
.icon-add:before {
  font-family: 'EBI-Functional';
  content: "+";
}

.icon-analyse:before {
  font-family: 'EBI-Functional';
  content: "A";
}

.icon-approve:before {
  font-family: 'EBI-Functional';
  content: "/";
}

.icon-attach:before {
  font-family: 'EBI-Functional';
  content: "a";
}

.icon-collapse:before {
  font-family: 'EBI-Functional';
  content: "w";
}

.icon-collapse-closed:before {
  font-family: 'EBI-Functional';
  content: "9";
}

.icon-collapse-open:before {
  font-family: 'EBI-Functional';
  content: "8";
}

.icon-database-submit:before {
  font-family: 'EBI-Functional';
  content: "D";
}

.icon-download:before {
  font-family: 'EBI-Functional';
  content: "=";
}

.icon-lock:before {
  font-family: 'EBI-Functional';
  content: "L";
}

.icon-mapping:before {
  font-family: 'EBI-Functional';
  content: "0";
}

.icon-menu:before {
  font-family: 'EBI-Functional';
  content: "M";
}

.icon-next-page:before,
.icon-next:before {
  font-family: 'EBI-Functional';
  content: ">";
}

.icon-previous-page:before {
  font-family: 'EBI-Functional';
  content: "<";
}

.icon-search:before {
  font-family: 'EBI-Functional';
  content: "1";
}

.icon-send:before {
  font-family: 'EBI-Functional';
  content: "n";
}

.icon-stop:before {
  font-family: 'EBI-Functional';
  content: "o";
}

.icon-submit:before {
  font-family: 'EBI-Functional';
  content: "_";
}

.icon-target:before {
  font-family: 'EBI-Functional';
  content: "T";
}

.icon-tool:before {
  font-family: 'EBI-Functional';
  content: "t";
}

.icon-unassigned-job:before {
  font-family: 'EBI-Functional';
  content: "*";
}

.icon-unlock:before {
  font-family: 'EBI-Functional';
  content: "U";
}

.icon-view:before {
  font-family: 'EBI-Functional';
  content: "4";
}


/* Generic */
.icon-alert:before {
  font-family: 'EBI-Generic';
  content: "l";
}

.icon-calendar:before {
  font-family: 'EBI-Generic';
  content: "r";
}

.icon-clock:before {
  font-family: 'EBI-Generic';
  content: "{";
}

.icon-contact:before {
  font-family: 'EBI-Generic';
  content: "C";
}

.icon-discuss:before {
  font-family: 'EBI-Generic';
  content: '\\';
}

.icon-documentation:before {
  font-family: 'EBI-Generic';
  content: ";";
}

.icon-email:before {
  font-family: 'EBI-Generic';
  content: "E";
}

.icon-external-systems:before {
  font-family: 'EBI-Generic';
  content: "y";
}

.icon-face-to-face:before {
  font-family: 'EBI-Generic';
  content: "f";
}

.icon-file:before {
  font-family: 'EBI-Generic';
  content: "Q";
}

.icon-graph:before {
  font-family: 'EBI-Generic';
  content: "g";
}

.icon-group:before {
  font-family: 'EBI-Generic';
  content: "}";
}

.icon-help:before {
  font-family: 'EBI-Generic';
  content: "?";
}

.icon-home:before {
  font-family: 'EBI-Generic';
  content: "H";
}

.icon-industry:before {
  font-family: 'EBI-Generic';
  content: "I";
}

.icon-info:before {
  font-family: 'EBI-Generic';
  content: "i";
}

.icon-link:before {
  font-family: 'EBI-Generic';
  content: "L";
}

.icon-location:before {
  font-family: 'EBI-Generic';
  content: "[";
}

.icon-news:before {
  font-family: 'EBI-Generic';
  content: "N";
}

.icon-publication:before {
  font-family: 'EBI-Generic';
  content: "P";
}

.icon-request:before {
  font-family: 'EBI-Generic';
  content: "'";
}

.icon-resource:before {
  font-family: 'EBI-Generic';
  content: "R";
}

.icon-reviewed-data:before {
  font-family: 'EBI-Generic';
  content: "q";
}

.icon-steps:before {
  font-family: 'EBI-Generic';
  content: "#";
}

.icon-support:before {
  font-family: 'EBI-Generic';
  content: "s";
}

.icon-video:before {
  font-family: 'EBI-Generic';
  content: "V";
}



/* FileFormats */
.icon-xml:before {
  font-family: 'EBI-FileFormats';
  content: "x";
}

.icon-fasta:before {
  font-family: 'EBI-FileFormats';
  content: "a";
}

/* External link */
.icon-external-link:after,
.icon-ext:after {
  font-family: 'EBI-Generic';
  content: "x";
  font-size: 0.7em;
  vertical-align: top;
}

.icon-info-link:after {
  font-family: 'EBI-Generic';
  content: "i";
  font-size: 0.7em;
  vertical-align: top;
}

.icon-plus:after {
  font-family: 'EBI-Functional';
  content: "+";
  font-size: 0.7em;
}
.icon-minus:after {
  font-family: 'EBI-Functional';
  content: "w";
  font-size: 0.7em;
  vertical-align: baseline;
}

/* Close button */
.icon-close:before {
  font-family: 'EBI-Functional';
  content: "x";
}
