---
---

//
// IMPORTS
//

@import "reset";
@import "variables";


/**************/
/* BASE RULES */
/**************/

html {
  height: 100%;
}

body {
  height: 100%;
	background: $white;
  font-family: $helvetica;
  font-size: 0.9em;
  color: $darkGray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  font-weight: bold;

  line-height: $line-height;
  margin: 15px 0px;
  padding: 0px;
}

h1 {
  font-size: 30px;
  color: $lrg_dark;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
  color: $lrg_blue;
}

h3 {
  font-size: 20px;
  color: $lrg_blue;
}

h4 {
  font-size: 18px;
  color: $lrg_blue;
}

h5 {
  font-size: 16px;
  color: $lrg_blue;
}

p {
  margin: 15px 0;
  line-height: $line-height;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active, &:focus {
    color: $lrg_purple;
    text-decoration: none;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: disc;
}

li {
  line-height: $line-height;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

ul.compact {
  margin: 2px 0px;
  li {
    line-height: $line-height-compact;
  }
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//
header {
  width:100%;
  height: 95px;
  position:fixed;
  top:0px;
  z-index: 100;
  padding-bottom: 18px;
}

.masthead {
  /*display: block;*/
  padding: 5px;
  margin-bottom: 0px;
  background-color: $lrg_dark;
  background-image: none;
  border-radius: 0px;
}

.sub-masterhead_blue {
  border-top: 5px solid $lrg_blue;
}
.sub-masterhead_green {
  border-top: 5px solid $lrg_green2;
}
.sub-masterhead_purple {
  border-top: 5px solid $lrg_purple;
}
.sub-masterhead_dark {
  border-top: 1px solid $lrg_dark;
}


.site-avatar {
  float: left;
  padding: 0px;
  margin: 0px 20px;

  img {
    vertical-align: middle;
    /*width: 86px;*/
    /*height: 60px;*/
  }
}

.site-info {
  float: left;
}

.site-name {
  margin: 5px 0px 0px 5px;
  color: $white;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.next-to-logo {
  float:left;
  margin-left:20px;
  font-family: $futura;
  color: #FFF;
  width: 450px;
  margin-top:10px;
}

.tag_line {
  padding: 5px 0px;
  font-size:14px;
  letter-spacing: 1.1px;
}

.search-form {
  letter-spacing: 1.2px;
  padding: 5px 0px 0px;
}

.btn-search {
  color:$lrg_blue;
  vertical-align:top;
  height:30px;
  font-size: 18px;
  padding-top: 3px;
  border: 1px solid #BCBEC0;
  text-shadow: 0 1px 0 #fff;
  background-color: $lrg_light_gray;
  &:hover, &:active, &:focus {
    color:$lrg_green2;
    background-color: #AAA;
  }
}


/*----------------------------*/
/* Override the Bootstrap nav */
/*----------------------------*/

.navbar-default .navbar-nav>li>a {
  color: $white;
  text-align: right;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  text-shadow: none;
  letter-spacing: 1.2px;
  font-family: $futura;

  &:hover {
    color: $lrg_green2;
    text-decoration: none;
  }
  &:active, &:focus {
    color: $lrg_blue;
    text-decoration: none;
  }
}
.navbar-nav>li>a.active {
  color: $lrg_blue;
}

@media (min-width: $menu_width_threshold) {
  .nav {
    float:right;
  }

  .navbar-nav {
    padding-top: 55px;
    margin-right: 5px;
  }

  .navbar-default {
    border: none;
    font-family: $helveticaNeue;
    font-size: 16px;
    .navbar-nav>li>a {
      padding: 0px;
      margin-left: 25px;
    }
  }
}

@media (max-width: $menu_width_threshold) {
  .masthead {
    padding: 0px;
  }
  
  .navbar-header {
      float: none;
      border: none;
  }

  .navbar-left,.navbar-right {
      float: none !important;
  }
  
  .navbar-fixed-top {
      top: 0;
      border-width: 0px;
  }

  .navbar-default {
    border: none;
  }
  .navbar-default .navbar-collapse {
    border: none;
  }

  .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
    background-color: $lrg_blue3;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }
  
  .navbar-default {
    .navbar-nav {
      float: none!important;
      li {
        float: none;
        background-color: none;
        &:hover {
          background-color: $lrg_blue2;
        }
      }
    }
  }

  .collapse.in{
    display:block !important;
  }

  .navbar-default .navbar-toggle {
    border-color: $white;
    display: block;
    padding: 4px 5px;
    &:hover, &:active, &:focus {
      border-color: $lrg_green;
      background-color: $white;
      .icon-bar {
        background-color: $lrg_green;
      }
    }
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: $white;
  }
}

.form-control {
  height:30px;
  padding:2px 8px;
  color: $lrg_dark;
  border-color: $lrg_light_gray;
}

.navbar-default .btn-link {
  color: #FFF;
  letter-spacing: 1.2px;
  padding: 4px 10px;
  &:hover, &:active, &:focus {
    color: $lrg_green2;
    text-decoration: none;
  }
}

.table-lrg > thead > tr {
  background-color: $lrg_dark;
  color: #FFF;
  font-weight: bold;
}

.table-lrg>thead>tr>th {
  border-bottom: 2px solid $lrg_blue;
  border-left: 1px solid #DDD;
  padding: 4px 8px;
}

.table-lrg>thead>tr>th.first-col {
  border-left: 1px solid $lrg_dark;
}
.table-lrg>thead>tr>th.split-header {
  border-bottom: none;
}

.table-lrg>thead>tr>th.to_sort, 
.table-lrg>thead>tr>th.sorttable_sorted_reverse,
.table-lrg>thead>tr>th.sorttable_sorted
{
  &:hover, &:active, &:focus {
    color:$lrg_green2;
    border-bottom: 2px solid $lrg_green2;
  }
}


//
// .homepage
//

.project_description {
  font-weight: normal;
  font-family: $futura;
  letter-spacing: 1.0px;
  font-size: 16px;
  margin-top: -10px;
  background-color: #FFF; /*#E9E9E9*/
  /*color: #FFF;*/
  padding: 6px 8px;
  border-left: 5px solid $lrg_blue;
}

.read_more_link {
  margin-top: 4px;
  font-family: $futura;
}

.panel-content {
  padding: 0px;
  margin-bottom: 20px;
}

.panel-right-section {
  margin-bottom: 20px;
}

.panel-right-section-content {
  padding: 6px 8px;
  background-color:$bg_2;/*$bg_1;*/
}

.panel-row {
  min-height:130px;
  margin-bottom: 20px;
}

.section {
  padding: 5px 0px 0px;
  min-height: 130px;
  /*border-radius: 8px;*/
  &:hover, &:active {
    /*background-color: $lrg_light_gray;*/
    &:after {
      width: 60%;
      background-color: $lrg_purple;
    }
    .section-circle {
      border-color: $lrg_purple;
    }
    /*.section-sub-circle {
      text-decoration: underline;
      text-decoration-color: $lrg_purple;
    }*/
  }
}

.section:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  height: 1px;
  width: 0px;
  -webkit-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
  -webkit-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

a.section-link {
  text-decoration: none;
  color: $lrg_dark;
  &:hover, &:active {
    color: $lrg_dark;
  }
}

.section-double {
  padding: 0px;
  height: 100%;
  /*border: 1px solid $lrg_green;
  border-radius: 5px;*/
}

.section-bottom {
  /*border-color: #BCBEC0;*/
  margin-top:20px;
}

.section-row {
  padding: 8px 0px 25px;
  border-bottom: 1px solid $lrg_light_gray;
  margin-bottom: 25px;
}

.section-box {
  padding: 8px;
  border: 1px solid $lrg_light_gray;
  border-radius: 5px;
  margin-bottom: 25px;
  .section-header {
    color:$lrg_green2;
  }
  .section-grey {
    background-color:$lrg_light_gray;
    padding: 6px 10px;
    margin: 5px -8px 0px;
  }
}

.section-header {
  color: $lrg_blue;/*$lrg_blue2;*/
  font-weight: bold;
  font-size: 1.2em;
  margin: 2px 0px;
  padding-bottom: 5px;
  h3 {
    margin:0px;
  }
}

.section-title {
  text-align:center;
  color: $lrg_dark;/*$lrg_blue2*/
  margin: 3px 4px 5px 8px;
  >div {
    font-weight: bold;
    margin: 0px auto 5px;
    text-align:center;
  }
}

.section-circle {
  border:3px solid $lrg_blue;
  border-radius:30px;
  font-size:24px;
  padding:7px;
  width:44px;
  height:44px;
}

.section-sub-circle {
  font-size: 20px;
}

.section-title2 {
  >h5 { 
  padding: 0px 5px;
  margin: 0px;
  color: #FFF;/*$lrg_blue2;*/
  background-color: $lrg_dark;/*#E9E9E9;*/
  border-bottom: 3px solid $lrg_blue;
 }
  &:hover, &:active {
    >h5 {
      border-bottom: 3px solid $lrg_green2;
      color: $lrg_green2;
    }
    color: #FFF;
    text-decoration: none;
  }
}

.section-title3 {
  color: $lrg_dark;/*#000;*/
  margin: 3px 4px 5px 8px;
}


.section-content {
  padding: 4px 8px;
  line-height: $line-height;
  font-size: 14px;
  > div:last-child {
    background-color:#E9E9E9;
    margin: 10px -8px 0px;
  }
}

.text-center {
  text-align: center;
}

.section-publication {
  line-height: 1.3;
  margin-top: 6px;
  >span {
    font-weight:bold;
    line-height: 1.2;
  }
}

.section-news {
  padding: 5px 0px 10px;
  .news-item {
    font-size: 0.9em;
    margin: 0px 0px 5px;
    border-bottom: 1px dotted #DDD;
    >a {
      display: block;
      padding: 5px;
      &:visited, &:focus, &:hover, &:active {
        text-decoration: none;
        outline: none;
        background-color: $highlight;
      }
      p {
        margin: 5px 0px;
      }
    }

    .news-date {
      color: black;
      text-align: right;
    }

    >p {
      padding: 5px 15px;
      margin: 5px 0px;
    }

  }
}

.item-link {
  margin: 6px 5px;
}


.label-date {
  /*float:right;*/
  padding: 0px 0px 0px 5px;
  margin-top: -2px;
  vertical-align: top;
  /*width:50px;*/
  >span {
    background-color:$lrg_blue;
  }
}

//
// .table
//

table {
  border-bottom: 2px solid #DDD;
}
/*tr.sorttable_header {
  color: #FFF;
  background-color: $lrg_dark;
  font-weight: bold;
  >th {
    border-left: 1px solid #DDD;
    border-bottom: none;
    padding: 4px;
  }
}*/

.to_sort { 
  background: url('/images/sortable.png') no-repeat right center;
  cursor: pointer;
  padding-right:25px;
}

.sorttable_sorted { 
  background: url('/images/sort_desc.png') no-repeat right center;
  cursor: pointer;
  padding-right:25px;
}

.sorttable_sorted_reverse { 
  background: url('/images/sort_asc.png') no-repeat right center;
  cursor: pointer;
  padding-right:25px;
}

//
// .main
//

.container-extra {
  min-height: 100%;
  margin-top: 95px;
  margin-bottom: -130px;
}
.container-extra:after {
  content: "";
  display: block;
  height: 130px;
}

#search_term {
  font-style: italic;
  color: $lrg_green;
}

.lrg_blue {
  color: $lrg_blue;
}

.lrg_blue2 {
  color: $lrg_blue2;
}

.lrg_green {
  color: $lrg_green;
}

.lrg_green2 {
  color: $lrg_green2;
}

.lrg_purple {
  color: $lrg_purple;
}

.lrg_dark {
  color: $lrg_dark;
}

.left {
  float: left;
}

.right {
  float:right;
}

.medium-font {
  font-size: 0.9em;
}

.inner-content {
  padding: 10px 10px 20px;
}

td.left-col {
  font-weight:bold;
}

.gradient-blue {
  /* Old browsers */
  background: $lrg_blue3;
  /* IE10 */ 
  background: -ms-linear-gradient(top, $lrg_blue2 0%, $lrg_blue3 10%);
  /* Mozilla Firefox */ 
  background: -moz-linear-gradient(top, $lrg_blue2 0%, $lrg_blue3 10%);
  /* Opera */ 
  background: -o-linear-gradient(top, $lrg_blue2 0%, $lrg_blue3 10%);
  /* Webkit (Safari/Chrome 10) */ 
  background: -webkit-gradient(linear, top, bottom, color-stop(0, $lrg_blue2), color-stop(0.1, $lrg_blue3));
  /* Webkit (Chrome 11+) */ 
  background: -webkit-linear-gradient(top, $lrg_blue2 0%, $lrg_blue3 10%);
  /* W3C Markup, IE10 Release Preview */ 
  background: linear-gradient(to bottom, $lrg_blue2 0%, $lrg_blue3 10%);
}

.gradient-dark-blue {
  background: $lrg_dark;
  /* IE10 */ 
  background: -ms-linear-gradient(left, $lrg_dark 25%, $lrg_blue 100%);
  /* Mozilla Firefox */ 
  background: -moz-linear-gradient(left, $lrg_dark 25%, $lrg_blue 100%);
  /* Opera */ 
  background: -o-linear-gradient(left, $lrg_dark 25%, $lrg_blue 100%);
  /* Webkit (Safari/Chrome 10) */ 
  background: -webkit-gradient(linear, left, right, color-stop(0.25, $lrg_dark), color-stop(1, $lrg_blue));
  /* Webkit (Chrome 11+) */ 
  background: -webkit-linear-gradient(left, $lrg_dark 25%, $lrg_blue 100%);
  /* W3C Markup, IE10 Release Preview */ 
  background: linear-gradient(to right, $lrg_dark 25%, $lrg_blue 100%);
}

.back_link {
  margin-bottom: 10px;
}

.smaller-text {
  font-size: 0.9em;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}

.close-button {
  font-size: 15px;
  width: 15px;
  line-height:15px;
  color: #000;
  border-radius:8px;
  cursor:default;
  &:hover, &:active {
    color: $lrg_green2;
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.faq_section_title {
  margin: 15px 0px;
  h4 {
    margin: 0px;
  }
  a {
    vertical-align: middle;
    line-height:27px;
  }
}

.faq_entry {
  margin-bottom: 4px;
  border: 1px solid $lrg_light_gray;
  &:hover, &:focus, &:active {
    border-color: $lrg_purple;
    .faq_title {
      color: $lrg_purple;
    }
  }
}

.faq_title {
  padding: 6px 5px;
  color: $lrg_blue;
  background-color: #EEE;
  font-weight:bold;
  &:hover, &:focus, &:active {
    cursor:pointer;
  }
}

.faq_content {
  padding: 0px 8px;
  display: none;
  border-top: 1px solid $lrg_light_gray;
}

.warning {
  color: #F00;
  font-weight: bold;
}

.wait {
  text-align: center;
  width: 100%;
  font-size: 1.1em;
  font-weight: bold;
}
.wait:before {
  content: "Please wait for the results";
}

.wrapper-footer {
  height: 130px;
  margin-top: 5px;
  background-color: $lrg_dark;
  border-top: 3px solid $lrg_blue;
}

footer {
  padding: 5px 0px;
  text-align: center;
  border: none;
}

footer p {
  font-size: 10px;
  color: #DDD;
  margin: 4px 0px;
  >a {
    color: $lrg_blue;
    text-decoration: none;
    &:hover, &:active, &:focus {
      color: $lrg_purple;
      text-decoration: none;
    }
  }
}

footer span {
  font-size: 12px;
  color: #DDD;
  padding: 4px 0px;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

