---
layout: default
tags: Home
---

<div class="panel-content-top">
  <div class="project_description">
    {{ site.description2 }}
  </div>
</div>
<div class="panel-content">
	{% include items_panel.html %}
  {% include items_panel2.html %}
</div>
<div class="panel-content-bottom">
	<!--<div class="clearfix">
  	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  		{% include desc_panel.html %}
  	</div>
  	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-right-0">
  		{% include news_panel.html %}
  	</div>
  </div>-->
  {% include desc_panel.html %}
</div>
