---
layout: default
tags: Home
---
<div class="clearfix">
  <p class="lrg_desc">{{ site.description }}</p>
	<div class="col-xs-9 panel">
		{% include items_panel.html %}
    <div class="col-xs-11 section-double section-bottom">       
      <h3 class="section-title3 icon-light">Advantages of using LRG sequences</h3>
      <div class="section-content">
        <ul>
          <li>Provide a unique stable sequence record with an ID and no versioning</li>
          <li>Provide a coordinate system for permanent and unambiguous reporting of disease-causing variants</li>
          <li>Independent of updates to the reference genome assembly</li>
          <li>Important for bidirectional data exchange and integration</li>
          <li>Compiled and maintained by the <a href="http://www.ebi.ac.uk/" target="_blank">EBI</a> and <a href="http://www.ncbi.nlm.nih.gov/" target="_blank">NCBI</a> and so will be maintained in perpetuity</li>
          <li>Integrated into the <a href="http://www.ensembl.org" target="_blank">Ensembl</a> and <a href="http://www.ncbi.nlm.nih.gov/projects/genome/guide/human/index.shtml">NCBI</a> genome browsers to benefit from visualisation and existing annotation</li>
          <li>Can be used as the reference sequence for <a href="http://www.hgvs.org/mutnomen/" target="_blank">HGVS nomenclature</a> so that variant descriptions remain stable</li>
          <li>Support legacy exon and amino acid numbering schemes</li>
          <li>Supported by the <a href="https://mutalyzer.nl/syntax-checker" target="_blank">Mutalyzer sequence variant nomenclature checker</a></li>
        </ul>
      </div>
      <div class="col-xs-1"></div>
    </div>
	</div>

	<div class="col-xs-3 panel">
		{% include links_panel.html %}
	</div>
</div>


