---
layout: default
tags: Home
---
<div class="clearfix">
  <p class="lrg_desc">{{ site.description }}</p>
	<div class="panel-left">
		{% include items_panel.html %}
	</div>
	<div class="panel-right">
		{% include links_panel.html %}
	</div>
</div>
<div class="section-double section-bottom">
        
  <div class="section-title">Advantages of using LRG sequences</div>
  <div class="section-content">
  <ul>
    <li>provide a unique stable sequence record with an ID and no versioning</li>
    <li>provide a coordinate system for permanent and unambiguous reporting of disease-causing variants</li>
    <li>are independent of updates to the reference genome assembly</li>
    <li>are important for bidirectional data exchange and integration</li>
    <li>are compiled and maintained by the EBI and NCBI and so will be maintained in perpetuity</li>
    <li>are integrated into the Ensembl and NCBI genome browsers to benefit from visualisation and existing annotation</li>
    <li>can be used as the reference sequence for HGVS nomenclature so that variant descriptions remain stable</li>
    <li>support legacy exon and amino acid numbering schemes</li>
    <li>are supported by the Mutalyzer sequence variant nomenclature checker</li>
  </ul>
  </div>
</div>
