<footer class="footer">

  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
     <span>Partners</span>
  </div>

{% if site.footer-links.embl-ebi %}
  <div class="col-xs-6 text-right">
    <a href="{{ site.footer-links.embl-ebi }}" target="_blank">
     <img src="/images/EMBL-EBI_logo.png" />
    </a>
  </div>
{% endif %}
{% if site.footer-links.ncbi %}
  <div class="col-xs-6 text-left">
    <a href="{{ site.footer-links.ncbi }}" target="_blank">
      <img src="/images/NCBI_logo.png" />
    </a>
  </div>
{% endif %}

  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
    <p class="footer-end">Site maintained by <a href="http://www.ebi.ac.uk/" target="_blank">EMBL-EBI</a> | <a href="http://www.ebi.ac.uk/about/terms-of-use" target="_blank">Terms of Use</a></p>
    <p>Copyright © LRG 2017</p>
  </div>

</footer>
