<footer class="footer">

  <!-- Partners -->
  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
    <span>Partners</span>
  </div>

  <!-- Icons -->
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
    {% if site.footer-links.embl-ebi %}
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
        <a href="{{ site.footer-links.embl-ebi }}" target="_blank">
         <img src="/images/EMBL-EBI_logo.png" />
        </a>
      </div>
    {% endif %}
    {% if site.footer-links.ncbi %}
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
        <a href="{{ site.footer-links.ncbi }}" target="_blank">
          <img src="/images/NCBI_logo.png" />
        </a>
      </div>
    {% endif %}

    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
      <p class="footer-end">Site maintained by <a href="{{ site.urls.embl_ebi }}" target="_blank">EMBL-EBI</a><span class="padding-left-5 padding-right-5">|</span><a href="{{ site.urls.embl_ebi }}/about/terms-of-use" target="_blank">Terms of Use</a></p>
      <p><span>Copyright © LRG {{ site.time | date: "%Y" }}</span></p>
    </div>
  </div>
  
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 footer_separator">
    <div class="text-left">
      <a class="icon-help close-icon-5 smaller-icon" href="{{ site.baseurl }}/faq"><span class="side_text">FAQs</span></a>
    </div>
  </div>

  <!-- Google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','{{ site.google_analytics_url }}','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
</footer>
