<footer class="footer container">

{% if site.footer-links.embl-ebi %}
  <div class="col-xs-6 text-right">
    <a href="{{ site.footer-links.embl-ebi }}">
     <img src="/images/embl-ebi_logo.png" />
    </a>
  </div>
{% endif %}
{% if site.footer-links.ncbi %}
  <div class="col-xs-6 text-left">
    <a href="{{ site.footer-links.ncbi }}">
      <img src="/images/ncbi_logo.png" />
    </a>
  </div>
  {% endif %}

  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
    <p>© LRG 2016</p>
    <p class="footer-end">Site maintained by <a href="http://www.ebi.ac.uk/">EMBL-EBI</a> | <a href="http://www.ebi.ac.uk/Information/termsofuse.html">Terms of Use</a> | <a href="http://www.ebi.ac.uk/Information/privacy.html">Privacy</a> | <a href="http://www.ebi.ac.uk/Information/e-directive.html">Cookies</a></p>
  </div>
  
</footer>