<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
  {% include meta.html %}

  <link rel="stylesheet" href="{{ "/bootstrap.min.css" | prepend: site.baseurl_bootstrap }}">
  <link rel="stylesheet" href="{{ "/bootstrap-theme.min.css" | prepend: site.baseurl_bootstrap }}">
  <link rel="stylesheet" href="{{ "/css/ebi-visual-custom.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" | prepend: site.baseurl_googleapis }}">

  <script src="{{ "/jquery/1.12.2/jquery.min.js" | prepend: site.baseurl_googleapis }}"></script>
  <script src="{{ "/jqueryui/1.11.4/jquery-ui.min.js" | prepend: site.baseurl_googleapis }}"></script>
  <script src="/js/search_results.js"></script>
  <script src="/js/sorttable.js"></script> 

  <script type="text/javascript">
    window.onload = function () {
      // Autocomplete
      get_data_in_array().then(function(data_list){
        $("#search_id").autocomplete({
          // Limit the number of results displayed
          maxResults: 25,
          source: function(request, response) {
            var results = $.ui.autocomplete.filter(data_list, request.term);
            response(results.slice(0, this.options.maxResults));
          },
          select: function (e, ui) {
            $("#search_id").val(ui.item.value);
            get_query();
          },
          minLength: 3
        });
      });

      // Search results
      var url = window.location.href;
      var regex = new RegExp("\/search\/");
      if (regex.test(url)) {
        get_query();
      }
    }
  </script>

</head>
