<header>
  <nav class="navbar navbar-default masterhead" role = "navigation">
    <div class="container">
      <div class="navbar-header">
        <div class="site-avatar">
          <a href="/index.html" title=" {{ site.name }} home page"></a>
        </div>

        <div class="next-to-logo">
          <div class="tag_line">{{ site.tag_line }}</div>
          {% include search_box.html %}
        </div>

        <button type = "button" class="navbar-toggle" data-toggle = "collapse" data-target = "#lrg-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <div class="collapse navbar-collapse" id= "lrg-navbar">
        <ul class="nav navbar-nav">
          <li>
            <a class="icon-home close-icon-5 smaller-icon {% if page.tags contains "Home" %} active{% endif %}" href="{{ site.baseurl }}/"><span>Home</span></a>
          </li>
          <li>
            <a class="icon-info close-icon-5 smaller-icon {% if page.tags contains "About" %} active{% endif %}" href="{{ site.baseurl }}/about"><span>About</span></a>
          </li>
          <li>
            <a class="icon-download close-icon-5 smaller-icon {% if page.tags contains "Data" %} active{% endif %}" href="{{ site.baseurl }}/data"><span>Data</span></a>
          </li>
          <li>
            <a class="icon-email close-icon-5 smaller-icon {% if page.tags contains "Contact" %} active{% endif %}" style="font-weight:normal" href="{{ site.baseurl }}/contact"><span>Contact</span></a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="clearfix">
    <div class="sub-masterhead_blue"  style="float:left;width:5%"></div>
    <div class="sub-masterhead_green" style="float:left;width:4%"></div>
    <div class="sub-masterhead_blue"  style="float:left;width:91%"></div>
  </div>
  
</header>