<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
  {% include meta.html %}
  
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/favicon/apple-touch-icon.png" | prepend: site.baseurl }}"/>
  <link rel="icon" type="image/png" href="{{ "/images/favicon/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32"/>
  <link rel="icon" type="image/png" href="{{ "/images/favicon/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16"/>
  <link rel="manifest" href="{{ "/images/favicon/manifest.json" | prepend: site.baseurl }}"/>
  <link rel="mask-icon" href="{{ "/images/favicon/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#5bbad5"/>
  
  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl_bootstrap }}"/>
  <link rel="stylesheet" href="{{ "/css/bootstrap-theme.min.css" | prepend: site.baseurl_bootstrap }}"/>
  <link rel="stylesheet" href="{{ "/css/ebi-visual-custom.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ "/css/lrg.css" | prepend: site.baseurl }}"/>
  <link rel="stylesheet" href="{{ "/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" | prepend: site.baseurl_googleapis }}"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Lato:700|Open+Sans|Open+Sans:700"/> 
  
  <!-- Javascript / Jquery -->
  <script src="{{ "/jquery/1.12.2/jquery.min.js" | prepend: site.baseurl_googleapis }}"></script>
  <!--<script src="{{ "/jqueryui/1.11.4/jquery-ui.min.js" | prepend: site.baseurl_googleapis }}"></script>-->
  <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl_bootstrap }}"></script>
  <script src="/js/lrg.js"></script>
  <script src="/js/search_results.js"></script>
  <script src="/js/sorttable.js"></script>

  <script type="text/javascript">
    window.onload = function () {
      // Autocomplete
      get_data_in_array().then(function(data_list){
        $("#search_id").autocomplete({
          // Limit the number of results displayed
          maxResults: 25,
          source: function(request, response) {
            var results = $.ui.autocomplete.filter(data_list, request.term);
            response(results.slice(0, this.options.maxResults));
          },
          select: function (e, ui) {
            $("#search_id").val(ui.item.value);
            get_query();
          },
          minLength: 3
        });
      });

      // Search results
      var url = window.location.href;
      var regex = new RegExp("\/search\/");
      if (regex.test(url)) {
        get_query();
      }

      // This will capture hash changes while on the page
      $(window).on("hashchange",offsetAnchor);
      // This is here so that when you enter the page with a hash,
      // it can provide the offset in that case too. Having a timeout
      // seems necessary to allow the browser to jump to the anchor first.
      window.setTimeout(offsetAnchor, 0.1); 
    }

    // Toggle tooltip
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip({
        container : 'body'
      });
      $('button').focus(function() {
        this.blur();
      });
    });

  </script>

</head>
