
<div class="panel-row clearfix">
  <!--<div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1">-->
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    
    <div class="section2">
      <a class="section-link2" href="/about">
        <div class="section-title clearfix">
          <div class="left icon-info close-icon-0 section-circle section-circle_green"></div>
          <div class="left section-sub-circle">About</div>
        </div>
      </a>
      <div class="section-content" style="padding:0px">
        Description of the LRG project
      </div>
    </div>

    <div class="section2">
      <a class="section-link2" href="/lrg-collaborators">
        <div class="section-title clearfix">
          <div class="left icon-industry close-icon-0 section-circle section-circle_green"></div>
          <div class="left section-sub-circle">Collaborators</div>
        </div>
      </a>
      <div class="section-content" style="padding:0px">
        Each LRG is created upon request by research and diagnostic laboratories, LSDB curators and mutation consortia
      </div>
    </div>

  </div>
  
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

    <div class="section2">
      <a class="section-link2" href="/downloads">  
        <div class="section-title clearfix">
          <div class="left icon-submit close-icon-0 section-circle section-circle_green"></div>
          <div class="left section-sub-circle">Submit variants</div>
        </div>
      </a>
      <div class="section-content" style="padding:0px">
        You may submit information about variants to dbSNP or dbVar/DGVa and obtain an accession number for each variant
      </div>
    </div>

    <div class="section2">
      <a class="section-link2" href="/web-service">
        <div class="section-title clearfix">
          <div class="left icon-tool close-icon-0 section-circle section-circle_green"></div>
           <div class="left section-sub-circle">Web services</div>
        </div>
      </a>
      <div class="section-content" style="padding:0px">
        Programmatic access to LRG data is available through web services
      </div>
    </div>

  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

    <div class="section2">
      <a class="section-link2" href="/curation-status">
        <div class="section-title clearfix">
          <div class="left icon-unassigned-job close-icon-0 section-circle section-circle_green"></div>
           <div class="left section-sub-circle">Curation status</div>
        </div>
      </a>
      <div class="section-content" style="padding:0px">
        Check the progress of pending LRG records undergoing curation
      </div>
    </div>

    <div class="section2">
      <a class="section-link2" href="/faq">
        <div class="section-title clearfix">
          <div class="left icon-help close-icon-0 section-circle section-circle_green"></div>
          <div class="left section-sub-circle">FAQ</div>
        </div>
      </a>
      <div class="section-content" style="padding:0px">
        Most frequently asked question
      </div>
    </div>

  </div>
</div>
