
<div class="panel-row clearfix">
  
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 section">
    <a class="section-link" href=" /documentation/lrg-records">  
      <div class="section-title">
        <div class="icon-unreviewed-data close-icon-0 section-circle section-circle_blue"></div>
        <div class="section-sub-circle">LRG records</div>
      </div>

      <div class="section-content text-center">
        Details about the content of LRG records
      </div>
    </a>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 section">
    <a class="section-link" href="/documentation/lrg-creation">
      <div class="section-title">
        <div class="icon-request close-icon-0 section-circle section-circle_blue"></div>
        <div class="section-sub-circle">LRG creation process</div>
      </div>

      <div class="section-content text-center">
        Description about how the LRG records are created
      </div>
    </a>
  </div>
  
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 section">
    <a class="section-link" href="/faq">
      <div class="section-title">
        <div class="icon-help close-icon-0 section-circle section-circle_blue"></div>
        <div class="section-sub-circle">FAQs</div>
      </div>

      <div class="section-content text-center">
        Find answers to most frequently asked questions
      </div>
    </a>
  </div>

</div>
