
<div class="panel-row clearfix">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 section">
    <a class="section-link" href="/search/?query=*">
      <div class="section-title">
        <div class="icon-view close-icon-0 section-circle section-circle_blue"></div>
        <div class="section-sub-circle">View LRG</div>
      </div>
      <div class="section-content text-center">
        View existing LRGs (public and pending)
      </div>
    </a>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 section">
    <a class="section-link" href="/documentation/convert">
      <div class="section-title">
        <div class="icon-mapping close-icon-0 section-circle section-circle_blue"></div>
        <div class="section-sub-circle">Convert variant coordinates</div>
      </div>
      <div class="section-content text-center">
        Convert coordinates from different sources<br />(e.g. LRG, RefSeqGene, GRCh38, GRCh37)
      </div>
    </a>
  </div>

</div>
