
<div class="panel-row clearfix">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 section">
    <a class="section-link" href="/search/?query=*">
      <div class="section-title">
        <div class="icon-view close-icon-0 section-circle"></div>
        <div class="section-sub-circle">View</div>
      </div>
      <div class="section-content text-center">
          View the list of existing LRGs, with additional information
        <!--<div class="icon-unassigned-job close-icon-5">
          View the <a href="http://ftp.ebi.ac.uk/pub/databases/lrgex/lrgs_progress_status.html" target="_blank">progress status of LRGs</a> in curation
        </div>-->
      </div>
    </a>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 section">
    <a class="section-link" href="/downloads">
      <div class="section-title">
        <div class="icon-download close-icon-0 section-circle"></div>
        <div class="section-sub-circle">Download</div>
      </div>
      <div class="section-content text-center">
          Download LRG records in several formats:<br />XML, FASTA, BED, ...<br />Access programmatically through web services
        <!--<div class="icon-tool close-icon-5">
          Access programmatically through <a href="/web-service">web services</a>
        </div>-->
      </div>
    </a>
  </div>
  
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 section">
    <a class="section-link" href="/curation-status" target="_blank">
      <div class="section-title">
        <div class="icon-unassigned-job close-icon-0 section-circle"></div>
        <div class="section-sub-circle">Curation status</div>
      </div>
      <div class="section-content text-center">
          View the progress status of the LRGs in curation
      </div>
    </a>
  </div>
  <div class="col-xs-1"></div>
</div>

<div class="panel-row clearfix">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 section">
    <a class="section-link" href="/lrg-request">  
      <div class="section-title">
        <div class="icon-request close-icon-0 section-circle"></div>
        <div class="section-sub-circle">Request an LRG</div>
      </div>
      <div class="section-content text-center">
         If no LRG record exists for your gene of interest, you can request one to be created for you.
      </div>
    </a>
  </div>
  <!--<div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 section">
    <a class="section-link" href="/lrg-collaborators">
      <div class="section-title">
        <div class="icon-industry close-icon-0 section-circle"></div>
        <div class="section-sub-circle">Collaborators</div>
      </div>
      <div class="section-content text-center">
        Each LRG is created upon request by collaborators such as research and diagnostic laboratories, LSDB curators and mutation consortia.
      </div>
    </a>
  </div>-->
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 section">
    <a class="section-link" href="/submit-variants">
      <div class="section-title">
        <div class="icon-submit close-icon-0 section-circle"></div>
        <div class="section-sub-circle">Submit variants</div>
      </div>
      <div class="section-content text-center">
        You may submit information about variants to dbSNP or dbVar/DGVa and obtain an accession number for each variant.
      </div>
    </a>
  </div>
  
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 section">
    <a class="section-link" href="http://www.ncbi.nlm.nih.gov/genome/tools/remap#tab=rsg" target="_blank">
      <div class="section-title">
        <div class="icon-mapping close-icon-0 section-circle"></div>
        <div class="section-sub-circle">Map to LRG</div>
      </div>
      <div class="section-content text-center">
        Map sequences from different sources to the LRG coordinate system, e.g.:<br />RefSeqGene, GRCh38 or GRCh37
      </div>
    </a>
  </div>

</div>


  <!--<h3 class="section-title"><a class="icon-mapping" href="http://www.ncbi.nlm.nih.gov/genome/tools/remap#tab=rsg" target="_blank">Map to LRG</a></h3>
    <div class="section-content text-center">
      Map sequences from different sources to the LRG coordinate system, e.g.:<br />
      <a class="icon-external-link" href="http://www.ncbi.nlm.nih.gov/genome/tools/remap#tab=rsg&amp;data_from=RefSeqGene&amp;data_to=LRG&amp;with_refseq=true" target="_blank" rel="external"><strong>RefSeqGene</strong></a> | 
      <a class="icon-external-link" href="http://www.ncbi.nlm.nih.gov/genome/tools/remap#tab=rsg&amp;data_from=GCF_000001405.26&amp;data_to=LRG&amp;any_refseq=true&amp;without_refseq=true&amp;with_refseq=true" target="_blank" rel="external"><strong>GRCh38</strong></a> | 
      <a class="icon-external-link" href="http://www.ncbi.nlm.nih.gov/genome/tools/remap#tab=rsg&amp;data_from=GCF_000001405.25&amp;data_to=LRG&amp;any_refseq=true&amp;without_refseq=true&amp;with_refseq=true" target="_blank" rel="external"><strong>GRCh37</strong></a>
    </div>
  </div>-->