
<div class="panel-row clearfix">
  
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 section2">
    <a class="section-link" href="/about">
      <div class="section-title">
        <div class="icon-info close-icon-0 section-circle section-circle_green"></div>
        <div class="section-sub-circle">About</div>
      </div>

      <div class="section-content text-center">
        Description of the LRG project
      </div>
    </a>
  </div>
  
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 section2">
    <a class="section-link" href="/submit-variants">  
      <div class="section-title">
        <div class="icon-submit close-icon-0 section-circle section-circle_green"></div>
        <div class="section-sub-circle">Submit variants</div>
      </div>

      <div class="section-content text-center">
        You may submit information about variants to dbSNP or dbVar/DGVa and obtain an accession number for each variant
      </div>
    </a>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 section2">
    <a class="section-link" href="/curation-status">
      <div class="section-title">
        <div class="icon-unassigned-job close-icon-0 section-circle section-circle_green"></div>
         <div class="section-sub-circle text-center">Curation status</div>
      </div>

      <div class="section-content text-center">
        Check the progress of pending LRG records undergoing curation
      </div>
    </a>
  </div>

</div>


<div class="panel-row clearfix">
  
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 section2">
    <a class="section-link" href="/lrg-collaborators">
      <div class="section-title">
        <div class="icon-industry close-icon-0 section-circle section-circle_green"></div>
        <div class="section-sub-circle">Collaborators</div>
      </div>

      <div class="section-content text-center">
        Each LRG is created upon request by research and diagnostic laboratories, LSDB curators and mutation consortia
      </div>
    </a>
  </div>
  
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 section2">
    <a class="section-link" href="/web-service">
      <div class="section-title">
        <div class="icon-tool close-icon-0 section-circle section-circle_green"></div>
        <div class="section-sub-circle">Web services</div>
      </div>

      <div class="section-content text-center">
        Programmatic access to LRG data is available through web services
      </div>
    </a>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 section2">
    <a class="section-link" href="/faq">
      <div class="section-title">
        <div class="icon-help close-icon-0 section-circle section-circle_green"></div>
        <div class="section-sub-circle text-center">FAQ</div>
      </div>

      <div class="section-content text-center">
        Most frequently asked question
      </div>
    </a>
  </div>

</div>
