<div class="panel-right-section">
  <h5 class="section-title2 icon-link">Links</h5>
  <div class="panel-right-section-content">
      <div class="item-link icon-industry"><a href="lrg-collaborators">Collaborators</a></div>
      <div class="item-link icon-face-to-face"><a href="list-collaborators">List of collaborators</a></div>
  	  <div class="item-link icon-tool"><a href="web-service">Web services</a></div>
  </div>
</div>

<div class="panel-right-section">
  <h5 class="section-title2 icon-news"><a href="/news">News</a></h5>
  <div class="panel-right-section-content">
    <div class="section-news">
      {% for post in site.posts limit:4 %}
      <div class="news-item {{active}}">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <p>{{ post.title }}</p>
          <div class="news-date">{{post.date | date: '%B %d, %Y'}}</div>
        </a>
      </div>
      {% endfor %}
      <a href="/news">&rarr; See all news</a>
    </div>
  </div>
</div>
