<div class="panel-right-section">
  <!--<h5 class="section-title2"><a class="icon-help" href="/about">About LRG</a></h5>-->
  <a class="section-title2" href="/about">
    <h5 class="icon-help">About LRG</h5>
  </a>
  <div class="panel-right-section-content">
    <p>
      {{ site.description }}
    </p>
    <div><a class="icon-next-page smaller-icon close-icon-2" href="/about">See more</a></div>
  </div>
</div>


<div class="panel-right-section">
  <!--<h5 class="section-title2"><a class="icon-publication" href="http://dx.doi.org/10.1093/nar/gkt1198" target="_blank">Latest publication</a></h5>-->
  <a class="section-title2" href="http://dx.doi.org/10.1093/nar/gkt1198" target="_blank">
    <h5 class="icon-publication">Latest publication</h5>
  </a>
  <div class="panel-right-section-content">
    <p class="section-publication ">
      MacArthur JA et al.<br />
      <b>Locus Reference Genomic: reference sequences for the reporting of clinically relevant sequence variants</b><br />
      <i>Nucleic Acids Res. (2014 Jan)</i><br />
      <a class="icon-external-link" href="http://dx.doi.org/10.1093/nar/gkt1198" target="_blank">doi: 10.1093/nar/gkt1198</a>
   </p>
  </div>
</div>

<div class="panel-right-section">
  <!--<h5 class="section-title2"><a class="icon-news" href="/news">News</a></h5>-->
  <a class="section-title2" href="/news">
    <h5 class="icon-news">News</h5>
  </a>
  <div class="panel-right-section-content">
    <div class="section-news">
      {% for post in site.posts limit:4 %}
      <div class="news-item {{active}}">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <p>{{ post.title }}</p>
          <div class="news-date">{{post.date | date: '%B %d, %Y'}}</div>
        </a>
      </div>
      {% endfor %}
      <a class="icon-next-page smaller-icon close-icon-2" href="/news">See all news</a>
    </div>
  </div>
</div>
