<div class="section-row" id="search_help">
  <div class="clearfix">
    <div class="section-header icon-help left">Search help</div>
    <div class="right close-button icon-close close-icon-0" title="Close this box" onclick="javascript:$('#search_help').hide()"></div>
  </div>
  <p class="margin-top-5 margin-bottom-0 smaller-text">
    You can search by e.g. LRG identifier, HGNC gene name, NCBI and Ensembl accession numbers (gene or transcript), gene synonym or LRG status.<br />
    <b>Autocompletion</b> will appear when you will start typing: you can search for NCBI and Ensembl accession numbers without using the version number, e.g. <a href="/search/?query=NM_000088">NM_000088</a> instead of <a href="/search/?query=NM_000088.3">NM_000088.3</a>. <b>Batch search</b> can be carried out by entering a list of identifiers separated by a semi-colon symbol e.g. <a href="/search/?query=LRG_1;LRG_3;NM_007294;LRG_45">LRG_1;LRG_3;NM_007294;LRG_45</a>.
  </p>
  <div class="section-grey icon-tool close-icon-5">Programmatic access to LRG data is available through web services. <a class="icon-next-page smaller-icon close-icon-2" href="/web-service">See more</a></div>
</div>