<div class="clearfix">
  <div id="search_help_container">
    <div class="section-box" id="search_help">
      <div class="section-header icon-help">Search help</div>
      <div>  
        <p class="margin-top-2 margin-bottom-0 smaller-text">
          You can <span class="bold_font">search by</span> LRG identifier (e.g. <a href="/search/?query=LRG_5">LRG_5</a> or <a href="/search/?query=5">5</a>), HGNC gene name, NCBI and Ensembl accession numbers (gene or transcript), gene synonym or LRG status (<a href="/search/?query=public">public</a> or <a href="/search/?query=pending">pending</a>).
        </p>
        <p class="margin-top-5 margin-bottom-0 smaller-text">
           <span class="bold_font">Autocompletion</span> will appear when you will start typing: you can search for NCBI and Ensembl accession numbers without using the version number,<br />e.g. <a href="/search/?query=NM_000088">NM_000088</a> instead of <a href="/search/?query=NM_000088.3">NM_000088.3</a>.
        </p>
        <p class="margin-top-5 margin-bottom-0 smaller-text">
          <span class="bold_font">Batch search</span> can be carried out by entering a list of identifiers separated by a semi-colon symbol e.g. <a href="/search/?query=LRG_1;LRG_3;NM_007294;293;LRG_45">LRG_1;LRG_3;NM_007294;293;LRG_45</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-right-0">
    <div class="section-box clearfix" id="step_info_container" style="display:none">
      <div class="section-header section-header-absolute icon-unassigned-job">Curation status steps</div>
      <div class="text-center"><img src="/images/curation_steps.png"/></div>
    </div>
  </div>
</div>
