<div class="panel-tmp-news-banner">

   <div class="icon-announcement close-icon-0"></div>
  <div>
      We need your help! <br>
      If you’ve ever found our data helpful, please take our impact survey (15 min). Your replies will help keep the data flowing to the scientific community.<br>

      <a href="https://www.surveymonkey.co.uk/r/EMBL-EBI_Impact_DR" target="_blank">
          <span style="display: block; float:left; padding: 5px; background-color: #1C9BCF; color: #ffffff; margin-top: 5px ">Take Survey</span>
      </a>
  </div>
</div>

<div class="panel-tmp-news-banner">
  <div class="icon-info close-icon-0"></div>
  <div>
    We have updated all LRG records to a new XML schema (1.10). Changes include the display of MANE Select transcripts and flags for deprecated LRGs. See more information <a href="{{ site.baseurl }}/news#o20190824">here</a>.
  </div>
</div>
