<div class="section-row">
  <div class="clearfix" style="overflow:hidden">
    <div class="left" style="max-width:475px;margin-right:25px">
       <div class="clearfix">
          <div class="section-header left" style="vertical-align:middle">Tutorial / Webinar</div>
          <div class="right">
            <a href="https://youtu.be/wsItrTTQU_k?list=PL67E0627174F36FCF" target="_blank" style="vertical-align:middle"><img src="/images/youtube_logo.png"/></a>
          </div>
      </div>
      <p class="margin-top-5">
        A LRG webinar is available on <a class="icon-external-link" href="https://youtu.be/wsItrTTQU_k?list=PL67E0627174F36FCF" target="_blank">YouTube</a> (~30min).<br />  
        This webinar provides you with an overview and demo of the <b>Locus Reference Genomic (LRG) resource</b> - a manually curated reference resource for the reporting of clinically relevant variants.  
        The webinar and its PowerPoint presentation are available on the LRG page of the <a class="icon-external-link" href="http://www.ebi.ac.uk/training/online/course/locus-reference-genomic-lrg-resource-webinar" target="_blank">EMBL-EBI Online training</a> website.
      </p>
    </div>
    <div class="left">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/wsItrTTQU_k?list=PL67E0627174F36FCF" frameborder="0" allowfullscreen></iframe> 
    </div>
  </div>
</div>
