
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$lrg_green        : #909F4F;
$lrg_green2       : #78BE43;
$lrg_green_old    : #48A726;
$lrg_blue         : #1C9BCF;
$lrg_blue2        : #1A4468;
$lrg_blue3        : #0E4C87;
$lrg_gray         : #242729;
$lrg_dark         : #3C3F45;
$lrg_light_gray   : #BCBEC0;
$lrg_purple       : #9051A0;
$lrg_light_purple : #ba8ec6;

// Specific public/private curation status
$green1 : #0C0;
$green2 : #5E5;
$orange1 : #ffa500;
$orange2 : #ffc04d;
$red1 : #E22;
$red2 : #F66;

$lrg_public:  #48a726;
$lrg_pending: #FFA500;
$lrg_stalled: #F00;

$highlight : #FCFCFF;
$bg_1: #F9F9F9;
$bg_2: #E9E9E9;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$futura : Futura, Helvetica, Arial, sans-serif;
$lucida: Lucida Grande, Helvetica, Arial, sans-serif;
$open_sans: 'Open Sans', Helvetica, Arial, sans-serif;
$lato: Lato, Helvetica, Arial, sans-serif;

// Actual font variable used in lrg.css
$font_content : $open_sans;
$font_title: $lato;

// Line heights
$line-height : 1.5;
$line-height-compact: 1.2;

// Menu width threshold
$menu_width_threshold_max: 1199px;
$menu_width_threshold_min: 1200px;