
//
// VARIABLES
//

// Colors
$blue: #1881ad;
$blue2: #369;
$black: #000;
$white: #fff;
$gray: #666;
$darkGray: #333;
$turquoise1: #4a989c;
$lrg_green        : #909F4F;
$lrg_green2       : #78BE43;
$lrg_green_old    : #48A726;
$lrg_blue         : #1C9BCF;
$lrg_blue2        : #1A4468;
$lrg_blue3        : #0E4C87;

$lrg_dark         : #3C3F45;
$lrg_gray         : #BCBEC0;
$lrg_gray2        : #EEE;
$lrg_gray3        : #DDD;
$lrg_purple       : #9051A0;

// Light colours
$light_orange         : #fff7ea;
$light_turquoise      : #e4eff0;
$light_blue           : #f9fbfc;
$lrg_light_blue       : #ecf7fb;
$lrg_light_purple     : #ba8ec6;
$lrg_blue_transparent : rgba(28,155,207, 0.02);

// LRG curation status
$green1 : #0C0;
$green2 : #5E5;
$orange1 : #FFA500;
$orange2 : #ffc04d;
$red1 : #E22;
$red2 : #F66;

// LRG status
$lrg_public:  $lrg_blue; //#48a726;
$lrg_pending: #FFA500;
$lrg_stalled: #E00;

$default_font: $darkGray;
$highlight : #FCFCFF;
$bg_1: #F9F9F9;
$bg_2: #E9E9E9;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$futura : Futura, Helvetica, Arial, sans-serif;
$lucida: Lucida Grande, Helvetica, Arial, sans-serif;
$open_sans: 'Open Sans', Helvetica, Arial, sans-serif;
$lato: Lato, Helvetica, Arial, sans-serif;
$consolas: Consolas,Monaco,"Courier New",monospace;

// Actual font variable used in lrg.css
$font_content : $open_sans;
$font_title: $lato;
$font_code: $consolas;

// Line heights
$line-height : 1.5;
$line-height-compact: 1.2;

// Menu width threshold
$container_width_max: 1170px;
$container_width_min: 1171px;
$container_width_threshold_max: 1158px; //1079px;
$container_width_threshold_min: 1159px; //1080px;

// Footer height
$footer_height: 130px;

// Transition time
$transition_time : 0.3s;
