<!DOCTYPE html>
<html>

  {% include components/head.html %}

  <body>
    <div class="wrapper-masthead">
      <div id="main" role="main" class="container">

        {% include components/header.html %}
        
        <div class="inner-content">
       
          {{ content }}

        </div>
      </div>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
