<!DOCTYPE html>
<html class="font-face">

  {% include head.html %}
  
  <body>
    {% if site.is_beta == 1 %} 
      <div class="badge beta_label">beta</div>
    {% endif %}

    {% include header.html %}   
    
    <div id="main" role="main" class="container container-extra">
      <div class="inner-content">
        <!-- Specific content - start -->
        {{ content }}
        <!-- Specific content - end -->
      </div>
    </div>

    <div class="wrapper-footer">
      {% include footer.html %}
    </div>

  </body>
</html>
