---
layout: page
title: "FAQ category"
permalink: /faq_category/
icon-class: icon-help
---

{% for faq in site.faq %}{% if faq.faq_tags contains page.stub_name %}
{% capture faq_content %}
<div class="section-header">{{ faq.title }}</div>

{% if faq.faq_tags %}
<ul class="breadcrumb">
  {% for tag in faq.faq_tags %}
  {% assign faq_category = site.data['faq_category_map'][tag] %}{% if faq_category %}
  <li><a href="{{faq_category.url}}" title="">{{faq_category.title}}</a></li>
  {% endif %}{% endfor %}
</ul>
{% endif %}

{{ faq.content | markdownify }}

{% if faq.faq_related %}
<h4>Related questions:</h4>
<ul>
  {% for faq_related_stub in faq.faq_related %}
  {% assign faq_related = site.data['faq_map'][faq_related_stub] %}{% if faq_related %}
  <li><a href="{{faq_related.url}}">{{faq_related.title}}</a></li>
  {% endif %}{% endfor %}
</ul>
{% endif %}
{% endcapture %}{% include section.html content=faq_content %}{% endif %}{% endfor %}
